*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
.viewport{
    height: fit-content;
     width: 100%;
    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center; 
    /* background-color: rgb(238, 238, 233); */
}
.navbox{
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    row-gap: 100px;
    align-items: center;
    justify-content: space-around;

   
}
.navboxx{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.sales{
    height: 50px;
    width: 500px;
    display: flex;
    /* background-color: rgb(237, 233, 240); */
    

}
.sale{
    height: 50px;
    width: 130px;
    font-size: 14.5px;
    display: flex;
    align-items: center;
    justify-content: center;
     color: #247cff;
     font-weight: 500;
     background-color:  #e7eef8e8;
}
.navbox hr{
    top: 8px;
  color: #555555;
    
}
.foll{
    height: 100%;
    width: 450px;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    margin-right: -150px;
}
.phone{
    height: 50px;
    width: 160px;
    display: flex;
    font-size: 14px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(172, 243, 114); */
}
.ri-phone-line{
    color: #247cff;
    font-size: 18px;
}
.ri-mail-line{
    color: #247cff;
    font-size: 18px;
}
.sign ri-facebook-fill{
    font-size: 20px;
}
.sign{
    height: 70%;
    width: 220px;
    display: flex;
     border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: ivory;
    background-color: #247cff;
}
.us{
    width: 100px;
    /* background-color: #247cff; */
    font-size: 15px;
    margin-left: 10px;
    color: black;

}
.Follow{
    height: 100%;
    width: 260px;
    color: #247cff;
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Follow ul{
    display: flex;
    gap: 10px;
}
.Follow ul li::after{
      content: '';
      height: 31px;
      width: 31px;
      border-radius: 50%;
      background-color: #d1e3fc;
      position: absolute;
      z-index: -1;
      transition: 0.2s;
      color: #247cff;
}
.Follow ul li:hover::after{
    transform: scale(0);
}
.Follow ul li:hover{
    color: white;
}
.Follow ul li{
    height: 30px;
    width: 30px;
    gap: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #247cff;
    position: relative;
    z-index: 1;
    transition: 0.2s;
}
.mail{
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    /* background-color: rgb(43, 61, 226); */
}

nav{
    height: 120px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    box-shadow: rgba(0, 0, 0, 0.096) 0px 5px 15px;
}
.logo{
    height: 70px;
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    height: 70px;
    width: 60%;
    /* background-color: hotpink; */
     display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul{
    display: flex;
    gap: 37px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color:#484848;
}
.menu ul li:hover{
    cursor: pointer;
    color: #247cff;
}
.contact
{
    height: 30px;
    width: 120px;
    background-color: rgb(252, 252, 252);
    border-radius: 5px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 20px; */
    color: #247cff;
    overflow: hidden;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.contact::before{
    content: '';
    height: 200px;
    width: 200px;
    background-color: #247cff;
    position: absolute;
    left: -170px;
    top: 10px;
    transform: rotate(45deg);
    transition: 1s;
    z-index: -1;
}
.contact:hover::before{
     top: -50px;
     left: -10px;

}
.contact:hover{
    color: white;
}
.main{
    height: 900px;
    width: 100%;
    margin-top: 40px;
    /* background-color: antiquewhite; */
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box1{
    height: 350px;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    margin-top: -150px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}
.box11{
    height: 680px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 40px;
    padding-bottom: 20px;
    flex-direction: column ;
    align-items: center;
    background-image:url(./Assests/sliderBackground\ \(1\).png);
    
}
.heading{ 
    height: 150px;
    width: 50%;
    /* background-color: antiquewhite; */
    margin-top: 70px;
}
.heading h2{
    height: 40px;
    width: 200px;
    /* background-color: aquamarine; */
    color: navy;
   position: relative;
   left: 100px;
   font-size: 30px;
}
.heading p{
    height: 40px;
    width: 400px;
    /* background-color: rgb(206, 223, 217); */
    color: skyblue;
    position: relative;
    left: 100px;
}

.image{
    height: 300px;
    width: 50%;
    margin-bottom: 30px;
    /* background-color: chartreuse; */
}
.image img{
    margin-bottom: 30px;
}
.boxx2{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: aquamarine; */
}
.box2{
    height: 320px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    /* display: flex; */
    border-radius: 10px;
    padding: 30px 10px 10px 30px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.headline{
    height: 50px;
    width: 400px;
    /* background-color: lightblue; */
}
.headline h2{
    color: dodgerblue;
    font-size: 25px;
}
.boxx{
    height: 54px;
    width: 900px;
    display: flex;
    gap: 20px;
    
    
    /* background-color: rgb(248, 248, 248); */
}
.boxx input{
    height: 35px;
    width: 900px;
     padding-left: 10px;
}
.boxxx{
    height: 54px;
    width: 900px;
    display: flex;
    gap: 20px;
    /* background-color: rgb(255, 255, 255); */
}
.boxxx input{
    height: 35px;
    width: 900px;
    padding-left: 10px;
}
.boxxxx{
    height: 54px;
    width: 900px;
    display: flex;
    gap: 20px;
    /* background-color: aliceblue; */
}
.boxxxx input{
    height: 35px;
    width: 290px;
    padding-left: 10px;
}
.message input{
    height: 35px;
    width: 588px;
    padding-left: 10px;
}
.box3{
    height: 70px;
    width: 97%;
    /* background-color: hotpink; */
    display: flex;
    justify-content: space-between;
}
.robot{
    height: 59px;
    width: 270px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
.robot input{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    border: 2px solid black;
}
.text{
    height: 20px;
    width: 100px;
    /* background-color: aqua; */
    font-size: 13px;
    padding-left: 10px;
}
.desc{
    height: 50px;
    width: 70px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-left: 55px;
}
.desc p{
    font-size: 9px;
    /* margin-left: 15px; */
}
.desc h6{
    font-size: 8px;
    font-weight: 300;
}
.submit{
      height: 40px;
      width: 120px;
      color:#f7f8f8;
      border: 1px solid #247cff;
      border-radius: 28px;
      background-color: #247cff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      margin-top: 10px;
      overflow: hidden;
    position: relative;
    z-index:0;
    transition: 0.5s;

}

.submit::before{
    content: '';
    height: 300px;
    width: 300px;
    background-color: white;
     position: absolute;
     transform: rotate(45deg);
     transition: 0.5s;
     top: -290px;
     left: 250px;
     z-index: -1;
     
}
.submit:hover::before{
    top: -100px;
    left: 10px;
   /* color: white; */
}
.submit:hover{
    color: #247cff;
}
.box4{
    height: 490px ;
    width: 100%;
    /* background-color: rgb(255, 223, 223); */
    display: flex;
    margin-top: -90px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.head{
    height: 140px;
    width: 700px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

}
.head h1{
    height: 40px;
    width: 400px;
    /* background-color: aliceblue; */
    font-size: 30px;
    font-weight: 500;
    color: rgb(5, 5, 153);
}
.head p{
    height: 30px;
    /* width: 550px; */
    /* background-color: rgb(65, 125, 177); */
    font-size: 14px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    /* height: 50px;
    width: 550px; */
    /* background-color: rgb(65, 125, 177); */
    font-size: 14px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg{
    /* background-color: aquamarine; */
    display: flex;
    width: 220px;
    height: 60px;
   
}
.Img{
    width: 200px;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 15px;
    padding-top: 10px;
}
.title{
    height: 60px;
    width: 300px;
    margin-top: 10px;
    /* background-color: #7c8797; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 14px;
    font-weight: 500;
    color: #3d3d3d;

}
.written{
    font-size: 13px;
    height: 100px;
    margin-top:10px;
    color: #555555;
    width: 230px;
    padding-top: 20px;
    padding-left: 10px;
    /* background-color: beige; */
}
.written p{
    color: #247cff;
    line-height: 4;
}
.ri-arrow-right-line{
    color: #247cff;
}
.ri-arrow-right-line:hover{
    cursor: pointer;
}
.list{
    height: 110px;
    width: 80%;
    /* background-color: aquamarine; */
   display: flex;
   align-items: center;
   justify-content: center;
}
.listitem{
    height: 60px;
    width: 100%;
    display: flex;
    gap: 20px;
    /* background-color: aliceblue; */
    align-items: center;
    justify-content: center;
}
.listBox ul li:hover{
    cursor: pointer;
    color: #247cff;
}
.erp{
    background-color: #247cff;
    color: #ffffff;
    height: 40px;
    width: 130px;
    /* background-color: bisque; */
    border-radius: 20px;
    border: 1px solid #247cff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.erp::after{
    content: '';
    height: 30px;
    width: 30px;
    background-color:#247cff;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    z-index: -1;
}
.same{
    height: 40px;
    width: 130px;
    /* background-color: bisque; */
    border-radius: 20px;
    border: 1px solid #247cff;
    color:   #247cff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.web{
    height: 40px;
    width: 90px;
    /* background-color: bisque; */
    border-radius: 20px;
    border: 1px solid #247cff;
    color:   #247cff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learning:hover{
    background-color: #247cff;
    color: #ffffff;   
}
.mob:hover{
    background-color: #247cff;
    color: #ffffff;
}
.web:hover{
    background-color: #247cff;
    color: #ffffff;
}
.smart{
    height: 40px;
    width: 150px;
    /* background-color: bisque; */
    border-radius: 20px;
    border: 1px solid #247cff;
    color:   #247cff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smart:hover{
    background-color: #247cff;
    color: white;
}
.Boxes{
    height: 200px;
    width: 100%;
    /* background-color: salmon; */
     display: flex;
     gap: 10px;
    justify-content: center;
    
}
.smallbox{
    height: 98%;
    width: 230px;
    /* background-color: beige; */
    border: 1px solid black;
    border-radius: 10px;
}
.box5{
    height: 600px;
    width: 100%;
    /* background-color: ghostwhite; */
    display: flex;
}
.img{
    height: 100%;
    width: 40%;
    /* background-color: darkkhaki; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
    /* background-image: url(./Assests/backg.svg);
    background-position: 20px;
    background-repeat: no-repeat; */
  margin-left: 70px;
   

}
.explore{
    height: 100%;
    width: 60%;
    /* background-color: rgb(243, 209, 72); */
    
   
    
}

.exp{
    height: 150px;
    width: 300px;
    /* background-color: cyan; */
    margin-top: 120px;
    margin-left: 100px;
    line-height: 1.5;
}
.explore h4{
    color: #247cff;
    font-size: 16px;
}
.explore h1{
     color: navy;
     font-weight: 500;
}
.explore p{
    color: #484848b7;
    font-size: 14px;
    line-height: 1.6;
}
.buttons{
    height: 60px;
    width:500px ;
    /* background-color: coral; */
    display: flex;
    gap:60px;
     margin: 40px 0px 10px 100px;
    
}
.GPlay{
    height: 41px;
    width: 140px;
    /* background-color: antiquewhite; */
    border-radius: 5px;
  
  
}
.app{
    height: 41px;
    width: 140px;
    /* background-color: antiquewhite; */
    border-radius: 5px;
}
.box6
{
   height: 700px;
   width: 100%;
   background-color: rgba(204, 223, 221, 0.329); 
   display: flex;
   align-items: center;
   flex-direction: column;
   /* overflow: hidden; */
}
.header{
    height: 80px;
    width: 500px;
    /* background-color: rgb(162, 180, 212); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.header h1{
    height: 40px;
    width: 500px;
    color: #247cff;
     display: flex;
    align-items: center;
    justify-content: center;
}
.round{
    height: 380px;
    width: 100%;
    /* background-color:deepskyblue; */
    margin-top: 170px;
    overflow: scroll;
    /* overflow-y: hidden; */
    /* padding-left: 40px; */

    
   
}
.roundBox{
    height: 370px;
    width: fit-content;
    /* background-color: rgb(255, 199, 161); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 20px;
    margin-left:100px;

}
.round1{
   
     height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 200px; */
    /* background-color: rgb(255, 199, 252); */
  
    
}
/* .round2{
    height: 120px;
    width: 1900px;
    /* background-color:chartreuse; */
    /* display: flex; */
    /* gap: 50px; */
    /* overflow: hidden; */
    /* align-items: center; */
    /* justify-content: center;
    margin-left: -10px; */
     
/* }
::-webkit-scrollbar{
    display: none;
    overflow: scroll;
} */
.sphere{
    height: 110px;
    width: 110px;
    background-color: rgb(201, 230, 231);
    overflow: scroll;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
    color: #247cff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    border: 20px rgb(151, 151, 250) solid;
}
.spherebox{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: chartreuse; */
    border-radius: 50%;
    border: 2px dashed black;
}
.round1 p{
    height: 50%;
    width: 100px;
    /* background-color: yellow; */
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .round1 p{
    height: 30px;
    width: 100px;
    background-color: yellow;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.round2 p{
    height: 30px;
    width: 100px;
    background-color: yellow;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}
.roundbox2{
    height: 110px;
    width: 110px;
    background-color: rgb(201, 230, 231);
    overflow: scroll;
    border-radius: 50%;
    font-size: 19px;
    font-weight: bold;
    color: #247cff;
    border: 20px rgb(151, 151, 250) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

.sphere{
    height: 120px;
    width: 120px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
}
.sphere1{
    height: 120px;
    width: 120px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
position: relative;
left: -90px;
}
.sphere2{
    height: 120px;
    width: 120px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
position: relative;
left: -70px;
}

.sphere3{
    height: 120px;
    width: 120px;
    background-color: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
position: relative;
left: -40px;
}
.Foundation{
    position: relative;
    left:-90px;
}
.edu{
    margin-left: 90px;
} 
/* .line{
    height: 90px;
    width: 2px;
     background-color: black; 
    border: 1px dashed black;
    transform: rotate(-45deg);
    position: relative;
    left: -180px;
    top: 85px;
} */
::-webkit-scrollbar-button{
    display: none;
}
.best{
    height: 35px;
    color: #247cff;
    width: 500px;
     display: flex;
    align-items: center;
    justify-content: center;
}

.we{
    margin-top: 17px;
    width: 680px;
}
 
.sol{
    width: 700px;
}
.req{
    width: 390px;
}
.prop{
    height: 57px;
    color: #575660;
    background-color: #cacaca70;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    text-align: center;
    font-size: 13.8px;
}
.order{
    height: 85px;
    width: 500px;
    /* background-color: #22ff6c; */
    /* position: relative; */
     z-index: -1;

}
.order ul li::after{
    content: '';
    height: 3px;
    width: 150px;
    background-color: #f9fafd;
    position: absolute;
    top: 40px;
    left: -20px;
    z-index: 0;
    
} 
.order::after:hover{
   background-color: #639ef7;
}
.order:hover{
   background-color: #247cff ;
}
.order ul{
    height: 800px;
    display: flex;
    margin-top: 40px;
    gap: 80px;
    color: #247cff;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #22ff6c; */
}
.order ul li{
    height: 40px;
    width: 130px;
    background-color: #ffffff;
    /* position: absolute; */
    position: relative;
    z-index: -3;
}
.box7{
    height: 700px;
    width: 100%;
    /* background-color: rgb(233, 222, 227); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    row-gap: 20px;

}
.headd{
    height: 200px;
    width: 60%;
    /* background-color: bisque; */
    padding: 30px;
    line-height: 1.5;
}
.headd h4{
    text-align: center;
    color: #247cff;
}
.headd h1{
    text-align: center;
    font-weight: 500;
    color: rgb(4, 4, 100);
}
.headd p{
    font-size: 13px;
    text-align: center;
    line-height: 1.6;
    color: #555555;
}
.container{
    height: 100px;
    width: 80%;
    background-color: #ffffff;
    display: flex;
    gap: 80px;
    border-radius: 10px;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container img{
    height: 45px;
    width: 45px;
    color: #eeeded00;
    filter: grayscale(100%);
}
.container img:hover{
    cursor: pointer;
    filter: grayscale(0%);
}
.cont{
    height: 300px;
    width: 80%;
    /* background-color: aliceblue; */
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    
}
.tex{
    height: 80%;
    width: 50%;
    margin-top: 40px;
    /* background-color: cadetblue; */
    padding: 40px 10px 0px 30px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.tex h2{
    color: rgb(2, 2, 99);
line-height: 1.5;
}
.tex p{
    font-size: 14px;
    color: #555555;
}
.tex div{
    font-size: 14px;
    margin-top: 20px;
    color: #247cff;
}
.tex div:hover{
    cursor: pointer;
    color: #0c3779;
}
.imgg{
    height: 100%;
    width: 50%;
    /* background-color: rgb(187, 207, 207); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.box8{
    height: 30 0px;
    width: 100%;
    margin-top: 30px;
    background-color: azure;
    padding: 20px;

}
.box8 h4{
    text-align: center;
    color: #247cff;
    line-height: 2;

}
.box8 h1{
    color: #0c3779;
    text-align: center;
    font-size: 36px;
    margin-top: 5px;
}
.imagess{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    /* background-color: antiquewhite; */
}
.textimg{
    height: 180px;
    width: 170px;
    /* background-color: rgb(199, 189, 189); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textimg h5{
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    color: #484848;
}
.textimg p{
    color: #0c3779;
}
.box8 img{
    height: 120px;
    width: 120px;
    background-color: white;

}
.box9{
     height: 400px;
    width: 80%;
    margin-top: 30px;
    /* background-color: rgb(147, 199, 199); */
    padding: 20px;
    display: flex;
    gap: 90px;
    align-items: center;
}
.lead{
    height: 230px;
    width: 400px;
    /* background-color: yellow; */
}
.box9 h4{
    color: #247cff;
    line-height: 2;
    font-size: 14px;

}
.box9 h1{
    color: #0c3779;
    font-size: 33px;
    margin-top: 5px;
    font-weight: 500;
}
.box9 p{
    color: #555555;
    margin-top: 13px;
    font-size: 14px;
}
.circle{
    height: 370px;
    width: 350px;
    /* background-color: chartreuse; */
    background-image: url(./Assests/dotround.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box10{
    height: 450px;
    width: 100%;
    background-color:  rgb(233, 243, 247);
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    
}
.headdd
{
    height: 180px;
    width:300px ;
    /* background-color: rgb(203, 224, 233); */
    margin-left: 110px;
    margin-top: 100px;
 
    
}
.headdd h5{
    color: #247cff;
 margin-bottom: 10px;

}
.headdd h1{
     color: #0c3779;
     font-weight: 500;
}
.headdd p{
    margin-top: 10px;
      color: #555555;
      font-size: 14px;
}
.photos{
    height: 400px;
    width:800px;
    /* background-color: #e28989; */
    display: flex;
    overflow: scroll;
    gap: 10px;
   padding-left:px;
}
::-webkit-scrollbar{
    display: none;
}
.ph{
    height: 100%;
    width: 500px;
      /* overflow-y: hidden; */
    /* background-color: rgb(255, 219, 219); */
    /* margin-top: 40px; */
    /* display: flex; */
    /* flex-direction: column; */
}
.pngs{
    height: 100%;
    width: fit-content;
    /* background-color: pink; */
    display: flex;
    gap: 30px;
    overflow-y: hidden;
    margin-top: 20px;
}
.sq{
   height: 74%;
   width: 330px;
   background-color: rgb(255, 255, 255);
   /* position: relative; */
   top: 20px;
   border-radius: 10px;
   padding-top: 100px;
    border-top: 4px #247cff solid;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sq p{
    height: 130px;
    width: 100%;
    color: #4E4E4E;
    font-size: 14px;
    /* background-color: white; */
    padding: 10px;
    

}
.sq h5{
    height: 40px;
    width: 130px;
    /* background-color: orange; */
    color: #247cff;
    margin-top: -70px;
    margin-left: 200px;
}
.sq h2{
    height: 35px;
    width: 350px;
    /* background-color: rgb(187, 255, 255); */
    color: navy;
    font-size: 20px;
    padding: 10px;
    margin-top: -10px;
   
}
.png{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   position: relative;
    top: 50px;
    left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     /* margin-top: -80px; */
}
.enquiry{
    /* margin-top: 20px; */
    height: 130px;
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: rgb(69, 98, 226);
    justify-content: space-around;
    align-items: center;
    
}
.dot{
    height: 130px;
    width: 450px;
    /* background-color: blanchedalmond; */
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 20px;
}
.dot img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    height: 70px;
    width: 500px;
    /* background-color: rgb(185, 149, 95); */
}
.number p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 12px;
    line-height: 1.4;
    color: rgb(192, 203, 218)     ;
}
.number h2{
     font-size: 20px;
     color: white;
     font-weight: 300;

}
.square{
    height: 35px;
    width: 170px;
    background-color: rgb(250, 250, 252);
    color: #247cff;
    
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13.5px;
    overflow: hidden;
    position: relative;
    z-index:0;
    border: 0.5px solid white;
}
.square::before{
    content: '';
    height: 300px;
    width: 300px;
    background-color: #247cff;
     position: absolute;
     transform: rotate(45deg);
     transition: 1s;
     top: -290px;
     left: 250px;
     z-index: -1;
     
}
.square:hover::before{
    top: -100px;
    left: 10px;
   /* color: white; */
}
.square:hover{
    color: white;
}
.footer{
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* padding-top: 40px; */
   
    /* background-color: rgb(232, 238, 240); */
}
.bigbox{
    height: 200px;
    width: 100%;
    /* background-color: rgb(223, 164, 195); */
    display: flex;
    gap: 15px;
  
}
.boxes{
    height: 300px;
    width: 85%;
    background-color: #fdfdfd;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 95px;
}
.edunext{
    height: 200px;
    width: 280px;
    /* background-color: #555555; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.edunext img{
    height: 70px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 0;
    /* background-color: #0c3779; */


}
.edunext p{
    font-size: 13.5px;
    padding-left: 10px;
    color: #666666;
    line-height: 1.7;
}
.listBox{
    height: 300px;
    width: 200px;
    /* background-color: #555555; */
    padding-top: 10px;
    line-height: 2.7;
    font-size: 13px;
    color: #666666;
}
.listBox p{
    margin-bottom: 10px;
}
.service{
    height: 200px;
    width: 70%;
    /* background-color: chartreuse; */
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    margin-left: 15px;
}
.div1{

    color: #807e7e;
}
.div2{
    gap: 30px;
    display: flex;
}
hr{
position: relative;
top: -10px;
}
.last{
    height: 20px;
    width: 100%;
    font-size: 13px;
    margin-top: -70px; 
    display: flex;
    align-items: center;
    gap:40px;
    justify-content: space-between;
    /* background-color: rgb(255, 204, 229); */
}
.last p{
    height: 25px;
    width: 40%;
    /* background-color: #807e7e; */
    color: #555555;
    font-size: 13px;
    margin-top: 10px;   
}
.last h4{
    height: 15px;
    width: 50%;
    color: #575757e8;
    /* background-color: #807e7e; */
    font-size: 13px;
    margin-top: 3px; 
    font-weight: 600; 
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -30px;
   
}
.last ul{
    display: flex;
    gap: 10px;
}
.last ul li::after{
      content: '';
      height: 150px;
      width: 150px;
      /* border-radius: 50%; */
      background-color: #ffffff;
      position: absolute;
      left: 60px;
      top: -90px;
      z-index: -1;
      transition: 1s;
      color: #ffffff;
      transform: rotate(45deg);
}
.last ul li:hover::after{
    transform: rotate(45deg);
    left: -80px;
    top:-10px;
    color: white ;
    
}
.last ul li:hover{
    color:#247cff
    
}
.last ul li{
    height: 30px;
    width: 30px;
    gap: 20px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#247cff;
    border: #247cff 1px solid;
    position: relative;
    z-index: 1;
    transition: 0.1s;
    color: white;
}